.main-board {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
}
.main-nav {
}
.main-dash {
  overflow: scroll;
  padding-bottom: 152px;
}
@media screen and (max-width: 800px) {
  .main-nav {
    /* display: none; */
  }
  .main-board {
    grid-template-columns: 70px 1fr;
  }
}
